aiosqlite==0.22.1
annotated-types==0.8.0
greenlet==3.5.5
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
python-dotenv==1.2.3
SQLAlchemy==2.0.52
typing-inspection==0.4.4
typing_extensions==4.16.0
